 /* Подключение шрифтов */
@font-face {
  font-family: "Gilroy Extrabold";
  src:  local("Gilroy Extrabold"),
        url("../fonts/gilroyextrabold.woff2") format("woff2");
        url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:  local("Gilroy"),
        url("../fonts/gilroylight.woff2") format("woff2");
        url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Подключение общих стилей */
*, *::before, *::after {
  box-sizing: border-box
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2.15px;

  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Header */
.header-nav {
  padding: 22px 60px 30px;

  background-image: linear-gradient(to bottom, transparent 40px, rgba(240, 197, 46, 0.5) 40px);
}

.header-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-nav a {
  color: #000000;
}

.header-nav a:hover,
.header-nav a:focus {
  opacity: 0.6;
}

.header-nav a:active {
  opacity: 0.3;
}

.nav-catalog-title,
.nav-site a {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.header-top-wrap,
.header-middle-wrap,
.header-bottom-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.header-middle-wrap {
  margin-bottom: 35px;
}

.nav-search {
  width: 500px;
}

.nav-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
}

.nav-catalog {
  width: 500px;
}

.nav-catalog-list {
  display: none;
}

.nav-site {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
}





/* Отключение логотипа на гл. странице от состояний (наведение, нажатие) */
.header-nav .nav-logo:hover,
.footer .footer-logo:hover {
  opacity: 1;
}

.user-exit {
  opacity: 0.3;
}

/* Промоблок(слайдер №1 */
.promo {
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 110px, transparent 110px);
}
.promo-list {
  list-style: none;
}

.promo-list b {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.17px;
}

.promo-list td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.36px;
}

.promo-list th {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
}

/* Категории товаров */
.catalog-list {
  list-style: none;
}

.catalog-list h3 {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.18px;
}

/* Сервисы */
.services {
   background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
}

.services-list {
  list-style: none;
}

.services-list h3 {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.21px;
}

/* Производители */
.companies-list {
  list-style: none;
}

/* О нас и Контакты */
.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about,
.contacts {
  width: 580px;
}

.about h2,
.contacts h2 {
  margin: 0;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  color: #000000;
}



.about p {
  margin: 0;
}

.about ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about li {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  list-style: none;
}

.contacts {
  padding-left: 20px;
}

/* Footer */
.footer {
  color: #ffffff;

  background-color: #464646;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer a {
  color: #ffffff;
}

.footer a:hover,
.footer a:focus {
  opacity: 0.6;
}

.footer a:active {
  opacity: 0.3;
}

.footer-user-menu a {
  opacity: 0.7;
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
  opacity: 1;
}

.footer-user-menu a:active {
  opacity: 0.3;
}

.footer-logo {
  width: 560px;
  margin-bottom: 40px;
}

.footer-user-menu {
  display: flex;
  width: 500px;
}

.footer-address {
  width: 260px;
  margin: 0;
}

.footer .footer-site-menu {
  display: flex;
  width: 440px;
  margin-bottom: 60px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-telephone {
  width: 260px;
}

.footer-social-buttons {
  width: 660px;
}

.footer-logo-htmlacademy {
  width: 200px;
}

/* Модальные окна */
.modal {
  /* display: none; */
}

.modal-contacts label {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.modal-contacts input,
.modal-contacts textarea {
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(229, 229, 229, 0.5);
  border: 0;
}

.modal-contacts-button {
  background: none;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: 0;
}
/* ============================= */

/* Внутренняя страница */
.inner-page .nav-logo:hover,
.inner-page .footer-logo:hover {
  opacity: 0.6;
}

.inner-page .nav-logo:active,
.inner-page .footer-logo:active {
  opacity: 0.3;
}

.title {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 30px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.17px;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.14px;

  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #000000;

  opacity: 0.6;
}
.breadcrumbs a:active {
  color: #000000;

  opacity: 0.1;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.14px;

  opacity: 0.3;
}

/* Доп. обёртки */
.catalog-columns {
  background-image: linear-gradient(to right, #efefef 27%, transparent 27%);
}

.catalog-columns .container {
  display: flex;
  justify-content: space-between;
}

/* Фильтр */
.filter {
  width: 300px;
}

.filter ul {
  list-style: none;
}

.filter h2 {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.18px;
}

.filter label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.14px;
}

.filter-form-button {
  background: none;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: 0;
}

/* Сортировка */
.monopods {
  width: 760px;
}

.monopods h3 {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.monopods-sort-list {
  list-style: none;
}

.sort-list-item,
.sort-list-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list-item a:hover,
.sort-list-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list-item a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-current {
  color: rgba(0, 0, 0, 1);
}

/* Карточки */

.monopods-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -40px;
  padding: 0;

  list-style: none;
}

.monopods-item {
  width: 360px;
  margin-bottom: 70px;
  margin-right: 40px;
}

.monopods-item-title a {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.18px;
}

.monopods-item p {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.monopods-item-compare {
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.13px;

  opacity: 0.5;
}

.monopods-item-compare:hover,
.monopods-item-compare:focus {
  opacity: 1;
}

.monopods-item-compare:active {
  opacity: 0.2;
}

/* Всплывающие кнопки на карточках */
.buttons-wrap {
  display: none;
}

.monopods-item:hover .buttons-wrap {
  display: block;
}



/* Пагинация */
.monopods-pagination {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.pagination-button {
  color: rgba(0, 0, 0, 1);
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  list-style: none;
}

.pagination-list-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list-item a:hover,
.pagination-list-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-current a,
.pagination-current a:hover {
  color: rgba(0, 0, 0, 1);
}







