 /* Подключение шрифтов */
@font-face {
  font-family: "Gilroy Extrabold";
  src:  local("Gilroy Extrabold"),
        url("../fonts/gilroyextrabold.woff2") format("woff2");
        url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:  local("Gilroy"),
        url("../fonts/gilroylight.woff2") format("woff2");
        url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Подключение общих стилей */
*, *::before, *::after {
  box-sizing: border-box
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 2.15px;

  background: none;
  background-image: linear-gradient(to bottom, transparent 39.5%, #f0c52e 39.5%, #f0c52e 60.5%, transparent 60.5%);
  border: 0;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Header */
.header-nav {
  padding: 22px 60px 40px;

  background-image: linear-gradient(to bottom, transparent 40px, #f7e296 40px);
}

.header-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-nav a {
  display: block;

  color: #000000;
}

.nav-catalog a:hover,
.nav-site a:hover,
.nav-catalog a:focus,
.nav-site a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav-catalog a:active,
.nav-site a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-user a:hover,
.nav-user a:focus {
  opacity: 0.6;
}

.nav-user a:active {
  opacity: 0.3;
}

.nav-catalog-title,
.nav-site a {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.header-top-wrap,
.header-middle-wrap,
.header-bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.header-top-wrap {
  margin-left: -2px;
}

.header-middle-wrap {
  margin-bottom: 28px;
}
/* --- Поиск----- */
.nav-search {
  width: 400px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 4px 50%;
}

.nav-search input {
  position: relative;

  width: 327px;
  margin-left: 30px;
  padding: 15px 8px;

  line-height: 20px;
  color: #000000;

  background-color: transparent;
  border: 0;
  outline: none;

  opacity: 0.3;
}

.nav-search input:hover {
  opacity: 0.6;
}

.nav-search input:focus {
  opacity: 1;
}

/* Кнопка поиска */
.nav-search-button {
  position: absolute;

  display: none;
  padding: 14px 17px;

  background: none;
  border: 2px solid #000000;

  cursor: pointer;
}

.nav-search input:focus ~ .nav-search-button {
  display: inline-block;
}

.nav-search-button:hover,
.nav-search-button:focus {
  display: inline-block;
  color: rgba(255, 255, 255, 1);

  background-color: #000000;
}

.nav-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.nav-search-button::after {
  content: "";

  position: absolute;
  bottom: -2px;
  right: 40px;

  width: 398px;
  height: 2px;

  background-color: #000000;
}

/* Меню пользователя */
.nav-user {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.nav-user-enter a {
  padding-left: 26px;

  background-image: url(../img/user-black.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.nav-user-compare {
  margin-left: auto;
  margin-right: 42px;
}

.nav-user-compare a {
  padding-left: 20px;

  background-image: url(../img/compare-black.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.nav-user-cart a {
  padding-left: 23px;

  background-image: url(../img/cart-black.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

/* Меню каталога */
.nav-catalog {
  position: relative;
  width: 245px;
}

.nav-catalog-title::before {
  content: "";

  position: absolute;
  top: 10px;
  right: 0px;

  width: 16px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.nav-catalog-title::after {
  content: "";

  position: absolute;
  top: 10px;
  right: 0px;

  width: 16px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);

  transform: rotate(90deg);
}

/* Меню сайта */
.nav-site {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
}

.nav-site li:nth-child(2) {
  margin-left: auto;
  margin-right: 110px;
}

.nav-site li:nth-child(3) {
  margin-right: -5px;
}

/* Всплывающие меню */
ul.nav-catalog-list {
  position: absolute;
  left: -60px;

  display: none;
  justify-content: space-between;
  width: 1160px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 500px;
  padding-left: 60px;

  background-color: #f7e296;
}

.nav-catalog li:hover .nav-catalog-list {
  display: flex;
}

.nav-catalog-list li {
  margin-bottom: 6px;
}
.nav-catalog-list > li:nth-child(1) {
  width: 200px;
}

.nav-catalog-list > li:nth-child(2),
.nav-catalog-list > li:nth-child(3) {
  width: 160px;
}

/* .catalog-wrap-left {
  width: 200px;
}

.catalog-wrap-middle,
.catalog-wrap-right {
  width: 160px;
} */


/* Промоблок(слайдер №1 */
.promo {
  margin-bottom: 100px;
}

.promo-list {
  margin: 0;
  padding: 0;

  list-style: none;

  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 110px, transparent 110px);
}

.promo-list > li {
  display: flex;
  justify-content: space-between;
}

.promo-image {
  width: 526px;
}

.promo-text {
  width: 500px;
}

.promo-text b {
  display: block;
  margin-top: 80px;
  margin-bottom: 30px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.17px;
}

.promo-text p {
  margin: 0;
  margin-bottom: 60px;
}

.promo-button {
  margin-bottom: 70px;

}

.promo-text td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.36px;
}

.promo-text th {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
}

li.promo-monopod {
  /* display: none; */
}

.promo-monopod .promo-image {
  padding-left: 90px;
}

li.promo-bracelet {
  display: none;
}

.promo-bracelet .promo-image {
  padding-left: 115px;
}

li.promo-quadcopter {
  display: none;
}

.promo-quadcopter .promo-image {
  padding-left: 30px;
}

/* Категории товаров */
.catalog {
  margin-bottom: 160px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: -40px;

  list-style: none;
}

.catalog-list h3 {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.18px;
}

.catalog-list li {
  width: 160px;
  margin-right: 40px;
}

/* Сервисы */
.services {
  margin-bottom: 90px;

   background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
}

.services-wrap {
  display: flex;
  justify-content: space-between;
}

.services-buttons {
  width: 300px;
}

.services-list {
  width: 700px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-list h3 {
  margin: 0;
  margin-top: 80px;
  margin-bottom: 40px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.21px;
}

.services-list p {
  margin: 0;
}

/* Производители */
.companies {
  margin-bottom: 90px;
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: -40px;

  list-style: none;
}

.companies-item {
  width: 260px;
  margin-right: 40px;
}

.companies-item h3 + a {
  position: absolute;
}

/* О нас и Контакты */
.about-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about,
.contacts {
  width: 580px;
}

.about-contacts h2 {
  position: relative;

  margin: 0;
  margin-bottom: 45px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.21px;
}

.about-contacts p {
  width: 475px;
  margin: 0;

  letter-spacing: 0.15px;
}

.about h2 + p {
  margin-bottom: 30px;
}

.about p + p {
  margin-bottom: 65px;

  letter-spacing: 0px;
}

.contacts p {
  width: 550px;
  margin-bottom: 38px;
}

.about ul {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
  padding-left: 37px;

  list-style: none;
}

.about li {
  position: relative;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  list-style: none;
}

.contacts {
  padding-left: 20px;
}

.about-contacts h2::before {
  content: "";
  top: -51px;

  position: absolute;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about li::before {
  content: "";

  position: absolute;
  top: 15px;
  left: -35px;

  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-button {
  margin-left: 5px;
  padding-left: 20px;
  padding-right: 20px;

  letter-spacing: 3.6px;
}

.contacts-button {
  margin-top: 60px;
  padding-left: 40px;
  padding-right: 40px;

  letter-spacing: 3.6px;
}

/* Footer */
.footer {
  background-color: #464646;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 40px;
}

.footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-site-menu a:hover,
.footer-telephone:hover,
.footer-logo-htmlacademy:hover,
.footer-site-menu a:focus,
.footer-telephone:focus,
.footer-logo-htmlacademy:focus {
  opacity: 0.6;
}

.footer-site-menu a:active,
.footer-telephone:active,
.footer-logo-htmlacademy:active {
  opacity: 0.3;
}

.footer-logo {
  width: 164px;
  margin-bottom: 20px;
  margin-right: 380px;
}

/* Меню пользователя */
ul.footer-user-menu {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-bottom: 38px;
  margin-top: -2px;

}

.footer-user-menu a {
  position: relative;
}

.footer-user-menu a::before {
  content: "";

  position: absolute;

  width: 15px;
  height: 15px;

  background-repeat: no-repeat;
}

.footer-user-enter a::before {
  top: 4px;
  left: -25px;

  background-image: url(../img/user-yellow.svg);
}

.footer-user-compare a::before {
  top: 5px;
  left: -20px;

  background-image: url(../img/compare-yellow.svg);
}

.footer-user-cart a::before {
  top: 4px;
  left: -22px;

  background-image: url(../img/cart-yellow.svg);
}

.footer-user-menu a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-menu a:hover::before,
.footer-user-menu a:focus::before {
  opacity: 0.7;
}

.footer-user-menu a:active::before {
  opacity: 0.3;
}

.footer-user-enter {
  margin-left: auto;
}

.footer-user-compare {
  margin-left: 63px;
}

.footer-user-cart {
  margin-left: 65px;
}
/* Адрес */
.footer-address {
  position: relative;
  width: 260px;
  margin: 0;
  margin-bottom: 60px;

  color: #ffffff;
}

.footer-address::after {
  content: "";
  bottom: -82px;
  left: 0px;

  position: absolute;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}
/* Меню сайта */
.footer .footer-site-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 430px;
  margin-bottom: 60px;
  padding-right: 2px;


  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-site-menu a {
  color: #ffffff;
}
/* Телефон */
.footer-telephone {
  width: 165px;
  margin-bottom: 60px;
  margin-left: 90px;
  margin-right: -2px;

  color: #ffffff;
}


/* Соц. кнопки */
.footer .footer-social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 650px;
  padding-top: 2px;
  padding-left: 400px;
}

.footer-social-buttons a {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 22px;
  margin-bottom: 20px;

  opacity: 0.3;
}

.social-button-facebook {
  background-image: url(../img/facebook.svg);
}
.social-button-instagram {
  background-image: url(../img/instagram.svg);
}
.social-button-twitter {
  background-image: url(../img/twitter.svg);
}

.footer-social-buttons a:hover,
.footer-social-buttons a:focus {
  opacity: 0.6;
}

.footer-social-buttons a:active {
  opacity: 0.1;
}
/* логотип htmlacademy */
.footer-logo-htmlacademy {
  width: 27px;
  margin-bottom: 20px;
}

.footer-logo-htmlacademy img {
  vertical-align: middle;
}

/* Модальные окна */
.modal {
  /* display: none; */
}

.modal-contacts label {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.modal-contacts input,
.modal-contacts textarea {
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(229, 229, 229, 0.5);
  border: 0;
}

.modal-contacts-button {
  background: none;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: 0;
}
/* ============================= */

/* Внутренняя страница */
.inner-page .nav-logo:hover,
.inner-page .footer-logo:hover,
.inner-page .nav-logo:focus,
.inner-page .footer-logo:focus {
  opacity: 0.6;
}

.inner-page .nav-logo:active,
.inner-page .footer-logo:active {
  opacity: 0.3;
}

.user-exit {
  margin-left: 24px;

  opacity: 0.3;
}
/* Заголовок страницы */
.title {
  margin: 0;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 23px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.6px;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  padding-right: 37px;
}

.breadcrumbs a {
  display: block;

  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.14px;

  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #000000;

  opacity: 0.6;
}
.breadcrumbs a:active {
  color: #000000;

  opacity: 0.1;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.14px;

  opacity: 0.3;
}

.breadcrumbs-current::before,
.breadcrumbs-current::after {
  display: none;
}
/* Стрелочки */
.breadcrumbs li::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 68px;

  width: 4px;
  height: 1px;

  background-color: #000000;

  transform: rotate(45deg);
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 68px;

  width: 4px;
  height: 1px;

  background-color: #000000;

  transform: rotate(-45deg);
}

.breadcrumbs li:nth-child(2)::before,
.breadcrumbs li:nth-child(2)::after {
  left: 127px;
}
/* ---------------------- */

/* Доп. обёртки */
.catalog-columns {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 70px, transparent 70px),
    linear-gradient(to right, #efefef 31.5%, transparent 31.5%);
}

.catalog-columns .container {
  display: flex;
  justify-content: space-between;
}

/* Фильтр */
.filter {
  width: 300px;
  margin-left: 60px;
  padding-top: 25px;
}

.filter h2 {
  margin: 0;
  margin-bottom: 104px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;

  border: none;
}

.filter .filter-bluetooth {
  margin-bottom: 31px;
}

.filter legend {
  position: relative;

  margin-bottom: 22px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.18px;
}

.filter-color legend {
  margin-bottom: 19px;
}

.filter-bluetooth legend {
  margin-bottom: 19px;
}

.filter legend::before {
  content: "";

  position: absolute;
  top: -12px;

  width: 200px;
  height: 2px;

  background-color: #000000;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option {
  position: relative;
}

.filter-option label {
  display: block;
  width: 100px;
  padding-left: 37px;

  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.14px;

  cursor: pointer;
  user-select: none;
}

/* Стоимость */

.filter-range {
  margin-top: 14px;
}

/* Ползунок */
.filter-range-controls {
  position: relative;

  margin-bottom: 5px;
}

.filter-range-scale {
  width: 196px;
  height: 2px;

  background-color: #dbdbdb;
}

.filter-range-bar {
  width: 120px;
  height: 2px;

  background-color: #91c92f;
}

.filter-range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #dadada;
  cursor: pointer;
}

.filter-range-controls .toggle-min {
  left: -6px;
}

.filter-range-controls .toggle-max {
  left: 107px;
}
/* диапазон цены */
.filter-range-price label,
.filter-range-price input {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.filter-range-price label {
  display: inline-block;
  width: 80px;
}

.filter-range-price input {
  width: 50px;

  border: none;
  background-color: transparent;
}

.filter-range-price .max-price {
  margin-left: 6px;
}

/* Поле для чекбокса */
.filter-field-fill {
  position: absolute;

  top: 8px;
  left: -1px;

  width: 23px;
  height: 23px;

  border: 2px solid #000000;
  border-radius: 3px;
}

/* Галочка */
.filter-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 3px;

  width: 11px;
  height: 4px;

  background-color: #000000;

  transform: rotate(45deg);
}

.filter-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 16px;
  left: 7px;

  width: 20px;
  height: 4px;

  background-color: #000000;

   transform: rotate(-45deg);
}
/* Радио кнопка */
.filter-radio + label::before {
  content: "";

  position: absolute;
  top: 6px;
  left: -2px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.filter-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 6px;
  left: -2px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before,
.filter-input:hover + label::after,
.filter-input:focus + label::after,
.filter-input:hover + label .filter-field-fill,
.filter-input:focus + label .filter-field-fill {
  opacity: 0.6;;
}
.filter-input:active + label::before,
.filter-input:active + label::after,
.filter-input:active + label .filter-field-fill {
  opacity: 1;
}

.filter-radio:hover:checked + label::before {
  display: none;
}

.filter-input:disabled + label {
  opacity: 0.25;
}
/* ------------- */
.filter-form-button {
  padding-left: 42px;
  padding-right: 42px;

  letter-spacing: 3.5px;

  cursor: pointer;
}

/* Моноподы */
.monopods {
  width: 760px;
}

.monopods h3 {
  margin: 0;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

/* Сортировка */
.monopods-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;
  padding-top: 20px;
}

.monopods-sort-titles {

  width: 160px;
}

.monopods-sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 560px;

  list-style: none;
}

.sort-list-item,
.sort-list-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list-item a:hover,
.sort-list-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list-item a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-current {
  color: rgba(0, 0, 0, 1);
}

/* Карточки */

.monopods-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -40px;
  padding: 0;

  list-style: none;
}

.monopods-list p {
  margin: 0;
}

.monopods-item {
  position: relative;

  width: 360px;
  margin-bottom: 45px;
  margin-right: 40px;
}

.monopods-item .text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 24px;
}

.monopods-item-title {
  margin: 0;
}

.monopods-item-title {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.28px;
}

.monopods-item p {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}
/* Всплывающие кнопки на карточках */
.monopods-item-button {
  width: 200px;
  margin-top: 170px;
  margin-bottom: 12px;
  padding-right: 35px;
  padding-left: 35px;

  letter-spacing: 3.5px;

}

.monopods-item-compare {
  width: 200px;

  font-size: 13px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.13px;
  text-align: center;

  opacity: 0.5;
}

.monopods-item-compare:hover,
.monopods-item-compare:focus {
  opacity: 1;
}

.monopods-item-compare:active {
  opacity: 0.2;
}

.overlay-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 360px;
  height: 380px;

  display: none;
  flex-direction: column;
  align-items: center;

  background-color: rgba(239, 239, 239, 0.7);
}

.monopods-item:hover .overlay-wrap {
  display: flex;
}

/* Пагинация */
.monopods-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 72px;

  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  background-color: rgba(0, 0, 0, 0.08);
}

.monopods-pagination a + a {
  order: 1;
}

.pagination-button {
  padding: 25px 30px;

  color: rgba(0, 0, 0, 1);
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  margin: 0;
  margin-right: -30px;
  padding: 0;

  list-style: none;
}

.pagination-list-item {
  display: inline-block;
  margin-right: 20px;

  vertical-align: top;
}

.pagination-list-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list-item a:hover,
.pagination-list-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-current a,
.pagination-current a:hover {
  color: rgba(0, 0, 0, 1);
}







